.propertySettings {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.propertyHeader {
  padding: 16px;
  flex-shrink: 0;
  border-bottom: 1px solid var(--ant-color-border);
}

.propertyTitle {
  margin: 0 !important;
  font-size: 14px;
  font-weight: 600;
  color: var(--ant-color-text);
}

.propertyContent {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}
